# Unity (generado)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/

# Generados por paquetes del proyecto
GeneratedAssets/
UIElementsSchema/

# Proyectos y soluciones generados por Unity
*.csproj
*.sln
*.slnx
*.user
*.suo

# Crash reports
sysinfo.txt
CrashReport*